<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd" />
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="LOG_PATTERN"
        value="%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %magenta([%22.22thread]) %clr(%-5level) | %blue(%50.50logger{50}) | %msg%n" />
    <property name="LOG_FILE_PATTERN"
        value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%22.22thread] %-5level | %50.50logger{50} | %msg%n" />
    <property name="DEFAULT_DIR" value="TaxiMate" />

    <springProfile name="local,test">
        <include resource="logback/console-appender.xml" />
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="develop,production">
        <include resource="logback/file-info-appender.xml" />
        <include resource="logback/file-warn-appender.xml" />
        <include resource="logback/file-error-appender.xml" />

        <root level="INFO">
            <appender-ref ref="FILE-INFO" />
            <appender-ref ref="FILE-WARN" />
            <appender-ref ref="FILE-ERROR" />
        </root>
    </springProfile>
</configuration>
